<div style="margin: 0 auto; width: 400px">

<h2>Create your profile</h2>

<div>
  <label for="display_name">Name</label><br/>
  <input id="display_name" type="text" value="{{display_name}}">
</div><br/>

<div>
  <label for="handle">Handle</label><br/>
  <input id="handle" type="text" value="{{handle}}">
	<br/><small>http://ideavis.co/{{handle}}</small>
</div><br/>

<div>
  <button type="submit">Submit</button>
	<br/><br/>
</div>

</div>