<div style="margin: 0 auto; width: 400px">

<h2>Settings</h2>

<form>
<div>
  <label for="display_name">Name</label><br/>
  <input id="display_name" type="text" value="{{display_name}}">
</div><br/>

<div>
  <label for="about">About</label><br/>
  <textarea id="about">{{about}}</textarea>
</div><br/>

<div>
  <label for="location">Location</label><br/>
  <input id="location" type="text" value="{{location}}">
</div><br/>

<div>
  <label for="url">URL</label><br/>
  <input id="url" type="text" value="{{url}}">
</div><br/>

<div>
  <button type="submit">Submit</button>
	<br/><br/>
</div>
</form>

</div>