<h1>Login</h1>
<ul class="providers">
	<li><a href="#" class="auth-facebook">Facebook</a></li>
	<li><a href="#" class="auth-google">Google</a></li>
	<li><a href="#" class="auth-linkedin">LinkedIn</a></li>
	<li><a href="#" class="auth-twitter">Twitter</a></li>
</ul>